* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.screen {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen.active {
  display: flex;
}

#screen1,
#screen2,
#screen3 {
  background: url("assets/doodle1.jpg") center/cover no-repeat;
}

#screen4 {
  background: url("assets/doodle2.jpg") center/cover no-repeat;
}

.box-btn {
  padding: 18px 40px;
  background: pink;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}

.letter-wrap {
  display: flex;
  gap: 30px;
  align-items: center;
}

.paper {
  background: #f5e6c8;
  padding: 40px;
  width: 520px;
}

.side-sticker {
  width: 180px;
}

.hanging-btn {
  margin-top: 40px;
  padding: 14px 30px;
  background: pink;
  border-radius: 10px;
  cursor: pointer;
}

.floating-sticker {
  width: 200px;
  margin-bottom: 20px;
}

.valentine-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  position: relative;
}

.avatar {
  width: 120px;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
